{% extends 'base.html.twig' %}

{% block title %}Nos medicaments{% endblock %}

{% block body %}
<div class="container">
   <h1 class="my-3">Voici nos médicaments !</h1>

      
      <div class="row">
         {% for medicaments in medicaments%} 
             {% set url = path('medicament_liste', {'medicaments': medicaments}) %}

            <div class="col-md-4">
               <div class="card bg-light mb-1">
                  <a href="{{ url }}">
                     <img src="{{medicaments.imageMed}}" alt="Image du composant"style="height: 200px; width: 100%; display: block;">
                  </a>
                       <div class="card-body">
                        <h4 class="card-text">
                           <a href="{{ url }}">
                              {{medicaments.nomCommercial}}
                           </a>                  
                        <a href="{{ url }}" class="btn btn-secondary"> En savoir plus !</a>
                     </div>
               </div>
            </div>
         
        {% endfor %}
     </div>
</div>
{% endblock %}
